# Kit (formerly ConvertKit) integration
# Get your API key from: https://app.kit.com/account_settings/developer_settings
KIT_API_KEY=your_kit_api_key_here

# The ID of the Kit form new subscribers should be added to
# Find it in Kit > Forms > [your form] > the number in the URL
KIT_FORM_ID=your_kit_form_id_here
